* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
}

body {
    width: 100%;
}

#container {
    margin: 2%;
}

header {
    border: 3px #a8c5f8 solid;
    background: #a8c5f8;
}

header > div {
    /*vertical-align: top;*/
}

.name, #picture, .half, .frame, .scope {
    display: inline-block;
}

.name {
    width: 79%;
    vertical-align: top;
    padding-top: 3%;
}

.half {
    width: 49%;
    text-align: center;
    vertical-align: top;
}

.frame {
    border: 1px dashed #c8c8c8;
    padding: 2% 2%;
    width: 40%;
    background: grey;
}

#picture {
    width: 20%;
    text-align: right;
    background: #a8c5f8;
}

img {
    width: 50%;
}


h1, h2, h3 {
    background: #a8c5f8;
}

li {
    list-style: none;
    margin: 2% 0;
}

form {
    padding: 2vh 1vw;
}

input, textarea {
    display: block;
    padding: .5vh 1vw;
    margin: 2% 0;
}

/* scope */
.scope {
    width: 20%;
    border: 1px solid blue;
    margin-left: 2%;
    background: #c8c8c8;
}

.scope div {
    background: lightseagreen;
    height: 1.5vh;
    border-right: 1px blue solid;
}

#word, #tinker, #html {
    width: 80%;
}

#html {
    width: 75%;
}

#excel, #power, #css {
    width: 70%;
}

#gimp, #inkscape, #jScript {
    width: 65%;
}

#fusion, #gitH {
    width: 50%;
}

#pStorm, #jQuery {
    width: 45%;
}

#php, #sql {
    width: 40%;
}

/*end scope*/

span {
    display: inline-block;
    width: 17%;
    text-align: right;
}
